[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sparklyr.flint"]
	path = sparklyr.flint
	url = https://github.com/r-spark/sparklyr.flint
